
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="container">
            <div class="row g-3">
             
                <div class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3" *ngFor="let i of viewnews">

                    <div class="card">
                        <img height="180px" src="{{i.urlToImage}}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <h5 class="card-title">Title :{{i.title}} </h5>
                        <p class="card-text">Description :{{i.description}}</p>
                        <p class="card-text">Author : {{i.author}}</p>
                        <p class="card-text">Date of Publish:{{i.publishedAt}}</p>
                        
                        

                        </div>
                    </div>

                </div>
                
           

                
            </div>
            </div>

        </div>
    </div>
</div>
